.autocompleteContainer :global .react-autosuggest__container {
  position: relative;
  max-width: 275px;
  /* max-width: 520px; */
  width: 100%;
}

.autocompleteContainer :global .react-autosuggest__input {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  border: 1px solid #aaa;
  /* border-radius: 4px; */
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #545A58;
  border: 1px solid #E7E7E7;
}

.autocompleteContainer :global .react-autosuggest__input:focus {
  outline: none;
}

.autocompleteContainer :global .react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0;
}

.autocompleteContainer :global .react-autosuggest__suggestions-container {
  display: none;
}

.autocompleteContainer :global .react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block !important;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.autocompleteContainer :global .react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.autocompleteContainer :global .react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.autocompleteContainer :global .react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.autocompleteContainer :global .react-autosuggest__suggestion--focused {
  background-color: #0c7eaf;
  color: #fff;
}

.autocompleteContainer :global .suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.autocompleteContainer :global .dancounsell {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/48.jpg);
}

.autocompleteContainer :global .ladylexy {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/ladylexy/48.jpg);
}

.autocompleteContainer :global .mtnmissy {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/mtnmissy/48.jpg);
}

.autocompleteContainer :global .steveodom {
  background-image: url(https://s3.amazonaws.com/uifaces/faces/twitter/steveodom/48.jpg);
}

.autocompleteContainer :global .name {
  margin-left: 68px;
  line-height: 45px;
}

.autocompleteContainer :global .highlight {
  color: #e00;
  font-weight: bold;
}

.autocompleteContainer :global .react-autosuggest__suggestion--focused .highlight {
  color: #120000;
}