.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: -3px 4px 4px 5px rgb(0 0 0 / 25%);
  border-radius: 10px;
  height: 200px;
  position: relative;
  z-index: 2;
}


@media (max-width: 900px) {
  .container {
    padding: 0 5px;
  }
}