.radioLabel {
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.radioContainer {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radioContainer input {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

.radioContainer>.radioLabel:last-child {
  margin-right: 0;
}

.radioLabel {
  padding: 3px 4px;
  border-radius: 5px;
}

.radioLabel svg {
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.radioLabel.active svg,
.radioLabel:hover svg {
  background-color: #fff;
  color: #fff;
  fill: #fff;
  background: #ff772b;
}

.radioTravel {
  display: none;
}

@media (max-width: 480px) {
  .radioLabel {
    margin-right: 4px;
  }

  .radioContainer {
    font-size: 14px;
  }
}