.formFieldContainer>div {
  width: 50%;
}

.formField {
  display: flex;
  position: relative;
  /* box-shadow: 0px 0px 30px #ff772b; */
}



.formFieldContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.btn {
  min-width: 115px;
  height: 30px;
  margin-left: 2px;
  height: 50px;
  background: #FF772B;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0px 8px 8px 0px;
}

.refreshIcon {
  margin: 0 2px;
  cursor: pointer;
  background: #fff;
  padding: 9px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #E7E7E7;
}

@media (max-width: 900px) {
  .formField {
    flex-direction: column;
    width: 100%;
  }

  .formFieldContainer {
    padding: 0;
  }

  .btn {
    margin-top: 10px;
    width: 100%;
    margin-left: 0;
  }
}