.formFieldContainer>div {
  width: 50%;
}

.formField {
  display: flex;
  width: 78%;
}

.formFieldContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 0 10px;
}

.btn {
  min-width: 240px;
  height: 30px;
  margin-left: 10px;
  height: 41px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

.refreshIcon {
  margin: 0 10px;
  cursor: pointer;
  border-radius: 4px;
  background: #fff;
  padding: 10px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .formField {
    flex-direction: column;
    width: 100%;
  }

  .formFieldContainer {
    padding: 0;
  }

  .btn {
    margin-top: 10px;
    width: 100%;
    margin-left: 0;
  }
}